<html>
<head>
<title>pcapperf</title>
<link rel="stylesheet" type="text/css" href=/images/main.css />
</head>
<body>
{{ user_name }} <a href="{{ sign_url }}">{{url_text}}</a>

{% if has_records %}
<hr>
Your recent PCAP files:
<ul>
  {% for record in records %}
<li>{{ record.pcapname }}
    {{ record.date|date:"r" }}
    <a href='view?hash_str={{ record.hash_str }}'>waterfall</a>
  {% endfor %}
</ul>
{% endif %}



<hr>
Powered by:
<a href=https://github.com/andrewf/pcap2har>pcap2har</a> |
<a href=http://code.google.com/p/dpkt/>dpkt</a> |
<a href=http://code.google.com/p/harviewer/>harviewer</a> |
<a href=http://code.google.com/p/page-speed/>Page Speed</a> |
</body>
</html>
