<html>
<head>
<title>pcapperf</title>
<link rel="stylesheet" type="text/css" href=/images/main.css />
</head>
<body>
<table>
<tr>
<td valign="top">
<a href=/signin/ >Home</a>
</td>
<td valign="top">
<a href=/signin/download/d/{{ hash_str }}>Download HAR</a>
</td>
<td valign="top">
<a href=/signin/view?hash_str={{ hash_str}}>HarViewer</a>
</td>
<td valign="top">
<a href=/signin/papgespeed?hash_str={{ hash_str}}>Har-to-PageSpeed</a>
</td>
</tr>
</table>
<font size=-2>The Download HAR, HarViewer, and Har-to-PageSpeed links will expire in one hour from now.
<script type="text/javascript">
  document.write(new Date());
</script>
</font>

<h2>PCAP Web Performance Analyzer</h2>
<p>
<iframe src="/harviewer/index.html?inputUrl={{ har_url }}" width=100% height=90% frameborder=0>
  <p> You browser does not support iframes.</p>
</iframe>

<p>
<hr>
</body>
<html>


