<html>
<head>
<title>pcapperf</title>
<link rel="stylesheet" type="text/css" href=/images/main.css />
</head>
<body>
<table>
<tr>
<td valign="top">
<a href=/signin/ >Home</a>
</td>
<td valign="top">
<a href=/signin/download/d/{{ hash_str }}>Download HAR</a>
</td>
<td class="selected" valign="top">
HarViewer
</td>
<td valign="top">
<a href=/signin/pagespeed?hash_str={{ hash_str}}>Har-to-PageSpeed</a>
</td>

</tr>
</table>
<h2>PCAP Web Performance Analyzer</h2>
<p>
<iframe src="/harviewer/index.html?inputUrl={{ har_url }}" width=100% height=90% frameborder=0>
  <p> You browser does not support iframes.</p>
</iframe>
<p>
<hr>
Powered by:
<a href=https://github.com/andrewf/pcap2har>pcap2har</a> |
<a href=http://code.google.com/p/dpkt/>dpkt</a> |
<a href=http://code.google.com/p/harviewer/>harviewer</a> |
</body>
</html>
